/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
    display: inline-block;
}